:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: orange;
  --secondary-color: antiquewhite;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  margin-top: 0px;
}
h2 {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  margin-top: 0px;
  margin-bottom: 30px;
}
h3 {
  font-family: var(--heading-font-family);
  font-size: 43px;
}

p {
  font-family: var(--default-font-family);
  line-height: 1.7;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 50px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;

  margin-bottom: 0px;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-btn {
  font: var(--default-font-family);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
}

.secondary-btn {
  font: var(--default-font-family);
  color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
}

.primary-btn:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
}

.secondary-btn:hover {
  color: var(--secondary-color);
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
}

.recent-project-container {
  border: 3px solid blanchedalmond;
  border-radius: 10px;
  padding: 30px;
}
.sub-heading {
  font-size: 32px;
}
.image-col {
  text-align: center;
}
.image {
  border-radius: 5px;
  margin: 0px;
}
.project-description {
  margin: 40px 0px;
}

.profile-img {
  width: 300px;
  margin-top: 25px;
}

.about-btns {
  position: relative;
  left: -23px;
  margin-top: 35px;
  justify-content: center;
}
.about-btns a {
  margin: 20px;
}
.technology-section {
  margin: 10px 60px;
}
.certificate-section {
  margin: 10px 150px;
}

@media (max-width: 900px) {
  .name-heading {
    font-size: 44px;
  }
  .home-subheading {
    font-size: 14px;
  }

  .hero p {
    font-size: 30px;
  }
  .navigation-links a {
    margin: 3px;
  }
  .project-description {
    margin: 0px;
    text-align: center;
  }

  .project-description h3 {
    font-size: 40px;
  }
  .project-description p {
    font-size: 18px;
  }
  .about-section p {
    font-size: 18px;
  }

  .technology-section {
    font-size: 12px;
  }
  .about-section h2 {
    text-align: center;
  }
  .about-section {
    text-align: justify;
  }
  .about-section a {
    text-align: center;
  }
  .technology-section,
  .certificate-section {
    margin: 30px;
  }

  .about-btns {
    display: flex;
    justify-content: center;
    position: relative;
    left: 1px;
  }
}
