:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: orange;
  --secondary-color: antiquewhite;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  margin-top: 0px;
}
h2 {
  font-family: "Poppins", sans-serif;
  opacity: 0.8;
  margin-top: 0px;
  margin-bottom: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 50px;
}

.hero p {
  font-family: var(--heading-font-family);
  font-size: 36px;

  margin-bottom: 0px;
}

.navigation-links {
  font-display: flex;
}

.navigation-links a {
  margin: 20px;
}
.primary-btn {
  font: var(--default-font-family);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--secondary-color);
}

.secondary-btn {
  font: var(--default-font-family);
  color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  border: 1px solid var(--primary-color);
}
