:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: fuchsia;
  --secondary-color: orange;
}

body {
  background-color: #eddae8;
  /* background: radial-gradient(circle at 10% 20%, rgb(244, 186, 186) 0%, rgb(194, 157, 231) 90%); */
  padding: 50px;
}

h1 {
  font-family: var(--heading-font-family);
}

h2 {
  font-family: var(--heading-font-family);
}
p {
  font-family: var(--default-font-family);
}
.hero-content {
  background-image: url("../images/background-image.png");
  border-radius: 10px;
  max-width: 500px;
  margin: 170px auto;
  padding: 70px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.greeting {
  font-size: 25px;
  position: relative;
  top: 12px;
}
.name {
  font-size: 57px;
}

.hero-subtitle {
  font-family: var(--default-font-family);
}
.primary-btn,
.primary-btn-home {
  font: var(--default-font-family);
  color: black;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 30px;
  margin: 5px;
  text-decoration: none;
  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.primary-btn-home {
  font-size: 20px;
}

.primary-btn:hover,
.primary-btn-home:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}


.link {
  color: black;
  text-decoration: none;
  font-family: var(--default-font-family);
}
.link:hover {
  color: var(--primary-color);
}
.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card-preview {
  margin-top: 8px;
}

.card-text {
  font-size: 15px;
}
.img-preview:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}

.technology-section{
  font-family: var(--default-font-family);
}